
<div id="app-detail-sidebar">
  <div class="artwork">
    <img class="app-icon-large" src="{{large_avatar_url}}" />
    <span class="mask"></span>
  </div>
  <a href="{{track_view_url}}" target="_blank">App Store</a> | <a class="send-to-device">Send to device</a>
  <a href="https://twitter.com/share"
    target="_blank"
    class="twitter-share-button"
    data-url="{{currentURL}}"
    data-lang="en">Tweet
</a>
</div>
<div id="app-detail-main" class="clearfix">
  <div id="app-detail-header">

  {{#if upvotable}}
    <div class="upvote">
  {{else}}
    <div class="upvote upvoted">
  {{/if}}
    <div class="upvote-button"></div>
    <div class="upvote-count">{{upvote_count}}</div>
  </div>

    <div id="app-header-info">
      <p class="app-creator">{{creator}}</p>
      <h2 class="app-name">{{name}}</h2>
    </div>
  </div>
  <div id="screenshots">
    <div id="images-container">
      {{#each screenshot_urls}}
        <img src="{{this}}" width="230" />
      {{/each}}
    </div>
  </div>

  <div id="description">
    <p>{{description}}</p>
  </div>
</div>
