
<div id="app-detail-sidebar">

  <div class="artwork">
    <img class="app-icon-large" src="{{large_avatar_url}}" />
    <span class="mask"></span>
  </div>

</div>

<div id="app-detail-main" class="clearfix">
  <div id="app-detail-header">

  {{#if upvotable}}
    <div class="upvote">
  {{else}}
    <div class="upvote upvoted">
  {{/if}}
    <div class="upvote-button-show"></div>
    <div class="upvote-count">{{upvote_count}}</div>
  </div>

    <div id="app-header-info">
      <span id="header-text">
        <h2 class="app-name">{{name}}</h2>
        <p class="app-creator">By {{creator}}</p>
      </span>
    </div>

    <div id="app-links">
      <a class="app-store-link" href="{{track_view_url}}" target="_blank" title="Download {{name}} in App Store"></a>
      <a class="send-to-device">Send to device</a>
    </div>

    </div>

    <div id="screenshots">
      <div id="images-container">
        {{#each screenshot_urls}}
          <img src="{{this}}" width="230" />
        {{/each}}
      </div>
    </div>

    <div id="description">
      <p>{{description}}</p>
    </div>

    <hr>

    <h2>User Reviews</h2>
    <button class="tiny" id="add-review-button">Write a Review</button>
    <div id="review-input" style="display: none">
      <textarea id="review-input-box" rows="8" cols="40" placeholder = "Write your review here..."></textarea>
      <button class="tiny" id="submit-review-button">Submit</button>
    </div>
    <ul id="review-list"></ul>
</div>
