<img src="{{large_avatar_url}}" />
<h2>{{name}}</h2>
<p>{{creator}}</p>
<a href="{{track_view_url}}" target="_blank">App Store</a> | <a class="send-to-device">Send to device</a>

<div id="description">
  <p>{{description}}</p>
</div>
