<img src="{{small_avatar_url}}" />
<h2>{{name}}</h2>
<p>${{price}}</p>

{{#if upvotable}}
  <button class="upvote-button">^</button>
  <p class="upvote-count">{{upvotes}}</p>
{{else}}
  {{#if addable}}
    <button class="add-button">+</button>
  {{else}}
    <p class="upvote-count">{{upvotes}}</p>
  {{/if}}
{{/if}}
