
{{#if upvotable}}
  <button class="upvote-button">^</button>
  <div class="upvote-count">{{upvote_count}}</div>
{{else}}
  {{#if addable}}
    <button class="add-button">+</button>
  {{else}}
    <div class="upvote-count">{{upvote_count}}</div>
  {{/if}}
{{/if}}

<img class="app-image" src="{{small_avatar_url}}" />
<h2 class="app-name">{{name}}</h2>
<div class="app-price">${{price}}</div>
