<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Discover App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Discover App" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <%= render 'layouts/messages' %>

    <div id="modal-form" class="reveal-modal" data-reveal>

    </div>
    <div class="row">
      <h2>Find Cool Apps</h2>
    </div>
    <div class="row">
      <div id="side-nav">
        <ul class="side-nav" id="genre-list"></ul>
      </div>

      <div id="app-search-and-list">
        <div id="search">
          <input id="search-bar" type="text">
          <button id="search-button">Search</button>
        </div>
        <div id="app-list-container"></div>
      </div>
    </div>





  </body>
</html>
