<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Discover App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Discover App" %>">
    <script type="text/javascript" src="//use.typekit.net/tjz4rmh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="modal"></div>
    <header class="top-bar"></header>


    <div id="main-content">
      <div id="app-search-and-list">
        <form id="search" name="search">
          <label for="search-bar">What are your favorite apps?</label>

          <input type="search" id="search-bar" placeholder="Type app name…" />
          <input type="submit" id="search-button" value="Search" />
        </form>
      </div>
      <div class="row">
        <div id="side-nav">
          <h2>Browse by genre</h2>
          <ul class="side-nav" id="genre-list"></ul>
        </div>
        <h2 id="results-title">Top Apps on AppTree</h2>
        <div id="app-list-container"></div>
      </div>
    </div>

    <div id="app-show-page"></div>
    <div id="profile-page"></div>
    <footer>
      <p>💥</p>
    </footer>
  </body>
</html>
